*{
  font-family: Noto Sans,Arial, sans-serif;
  font-size: 16px;
}

h1{
  font-size: 34px;
}

h2{
  font-size: 29px;
}

body{
  margin: 0;
  height: 100%;
}

#main{
  overflow-y: auto;
}

a{
  color: #61ad70;
}

a:hover{
  color: #61ad70;
}

.no-margin{margin:0 !important;}
.no-padding{padding:0 !important;}

.icon-back{
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  left: 10px;
  top: 10px;
}

.icon-logout{
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.franja-head-foot{
  height: 60px;
  background-color: #61ad70;
  color:white;
  padding:5px;
  font-weight: 600;
}

.franja-head-foot a{
  color:#2b2b2b;
}

.franja-head-foot a:hover{
  text-decoration: underline !important;
  color:#2b2b2b;
}

.franja-head-foot p, .franja-head-foot a{
  font-size: 13px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p{
  margin-bottom: 0;
  line-height: 1.3;
  margin-top: 4px;
}

.head{
  position: fixed;
  top:0;
  z-index: 2;
  width: 100%;
}

.titol-head{
  margin: 5px;
  text-align: center;
  font-size: 2em;
}

.beta{
  position: absolute;
  top: 42px;
  margin-left: -32px;
  font-weight: 600;
  font-size: 13px;
}

.center-div{
  margin-left: auto;
  margin-right: auto;
}

.width-100{
  width:100%;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.text-darkgrey{
  color:darkgrey;
}

.ui-datepicker{
  z-index: 3 !important;
}

input{
  border: 1px solid #61ad70;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding: 12px;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

input.incorrecte{
  border: 1px solid red;
}

input:focus{
  border-color:#2b2b2b;
}

input[type="checkbox"]{
  display: inline;
  vertical-align: sub;
  margin-bottom:0px;
}

button{
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  border: none;
  border-radius: 2px;
  padding: 10px 55px;
  background-color: #61ad70;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

button i.fa-spinner.fa-spin{
  color:white;
  font-size: larger;
}

button.disabled, button.disabled:hover{
  background-color: grey;
  cursor: auto;
}

button:hover{
  background-color:#2b2b2b;
}

.error-mes{
  margin-top: -15px;
  display: block;
  margin-bottom: 20px;
  color:red;
  font-size:12px;
}

.modal-holder{
  z-index: 500;
  position:fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top:0;
}

.modal-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: auto;
  padding: 20px;
  background-color: #61ad70;
  z-index: 501;
  color: white;
  word-wrap:break-word;
  text-align: center;
}

.close-modal{
  margin-top: -11px;
  margin-right: -5px;
}

.close-modal i{
  font-size: 25px;
  cursor: pointer;
}

.modal-box button{
  background-color:white;
  color:#61ad70;
}

.modal-box button:hover{
  background-color:#2b2b2b;
  color: white;
}

.small-text, .small-text a{
  font-size: 12px;
  font-weight: 600;
}

.small-text a{
  decoration: none !important;
}

.infant-card{
  padding: 20px;
  background-color: #e6e6e6;
  width:100%;
  border-radius: 2px;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
}

.avatar{
  background-color: #61ad70;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  float: left;
  margin-right: 10px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 43px;
}

.card-nom{
  margin-top:15px;
}

button.button-100{
  padding:10px;
  width: 100%;
}

i.fa-spinner.fa-spin{
  font-size:60px;
  color: #61ad70;
}

.spinner-container{
  width:100%;
  height: 100px;
}

.price-tag{
  color: #61ad70;
  font-weight: 600;
  font-size: 35px;
}

@media only screen and (max-width: 767px) {
  .center-mobile{
    text-align: center;
  }
}
