.modalCreator.modalHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modalBack {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.modalContent {
    z-index: 0;
}

.modalCreator .modalClose {
    position: absolute;
    width: 25px;
    fill: #515151;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.modalCreator .modalContent {
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: fit-content;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

.modalCreator .modalTitol {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    padding: 0px 20px;
}

.modalCreator .modalButtons {
    text-align: center;
    margin-top: 15px;
}

.modalCreator .modalButtons button {
    padding: 8px 30px;
    margin-right: 5px;
    background-color: #1dc7ea;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 50ms linear;
}

.modalCreator .modalButtons button:disabled {
    background-color: lightgrey !important;
    cursor: inherit;
}

.modalCreator .modalButtons button:hover {
    background-color: #42d0ed;
}

.modalCreator .modalButtons button.green {
    background-color: #87CB16;
}

.modalCreator .modalButtons button.green:hover {
    background-color: #049f0c;
}

.modalCreator .modalButtons button.red {
    background-color: #ff6868;
}

.modalCreator .modalButtons button.red:hover {
    background-color: #8b3d3d;
}

.modalCreator .modalInputs {
    margin-top: 10px;
    margin-bottom: 15px;
}

.modalCreator .modalInputs input,
.modalCreator .modalInputs select {
    width: 100%;
    border-radius: .25rem;
    border: 1px solid #a8a8a8;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.modalCreator .modalInputs input.error,
.modalCreator .modalInputs select.error {
    border: 2px solid #ff6868;
}

.modalCreator .modalInputs .modalInputLabel {
    color: gray;
    font-size: 0.9rem;
    display: block;
    margin-top: 5px;
}

.modalInlineSpinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}