.iconBig {
    font-size: 3rem;
    margin-top: 14px;
}

.numberDisplay {
    font-size: 3rem;
}

.card #grupsTabContent form [class*="col-"]:first-child,
.card #grupsTabContent form [class*="col-"] {
    padding-left: 0px;
}

#administrar {
    padding: 15px;
}

.form-control {
    margin-bottom: 15px;
}

.buttonMargin {
    margin-bottom: 5px;
    display: block;
}

.paddingDefault {
    padding: 0px 30px;
}

.buttonPagPrev {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.buttonPagination {
    border-radius: 5rem;
    border: 1px solid gray;
    padding: 5px;
    line-height: 1rem;
    background-color: white;
    cursor: pointer;
    transition: background-color 50ms linear;
}

.buttonPagination:hover {
    background-color: lightgray;
}

.buttonPaginationItem {
    border: 1px solid lightgray;
    padding: 5px 7px;
    line-height: 1rem;
    background-color: white;
    cursor: pointer;
    transition: background-color 50ms linear;
}

.buttonPaginationItem:hover {
    background-color: lightgray;
}

.buttonPaginationItem.actual {
    background-color: lightgray;
    cursor: inherit;
}

.tableLoadingDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    color: white;
    border-radius: 5px;
}

.tableLoadingDiv span {
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: fit-content;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    color: black;
}

.table-full-width{
    min-height: 200px;
}

.grupSelectorHolder{
    padding: 10px;
}

.grupSelector{
    border: 1px solid darkgray;
    padding: 5px;
    border-radius: 3px;
    color: darkgray;
    cursor: pointer;
}

.grupSelector:hover{
    color: white;
    background-color: #9cdce9;
    border-color: #9cdce9;
}

.grupSelector.selected{
    color: white;
    background-color: #1dc7ea;
    border-color: #1dc7ea;
}